@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans+Condensed:wght@300&display=swap');

*{margin: 0;
padding:0;
;}

.sidebar{
   background-color: #0c561c85;
    font-family: sans-serif;
height: 100vh;
width: 175px;
transition: transform 0.3s ease-in;}

.sidebar nav{    padding: 45px;
}
.sidebar nav li{list-style: none;
    font-size: 25px;
    padding: 33px 0;
    margin:-30px;
}
.sidebar nav li a{text-decoration: none;
color: #07a4ef;
position:relative}
.main{
    /*background-color: yellow;*/
    width: 90vw;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display:flex
}
.infocontainer{ /*background-color: rgb(179, 143, 188);*/
                height: 55vh;
                width: 80vw;
                margin: 71px auto;
                display:flex;
                justify-content: space-between;}
.surajpic img{
    width:304px;
    height:55vh;
    padding: 78px;
}
.surajinfo{
    display: flex;
    height:55vh;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
    margin: 87px;
    font-family: math;
}
.hello{
    font-size: 57px;
    font-family: 'Source Code Pro', monospace;
    color:limegreen;}
.name{
    font-size: 47px;
    font-family: 'Lobster', cursive;
    color: chartreuse;
    
}
.about{    font-size: 35px;
    font-family: 'Cinzel', serif;
    color: yellow;}
.buttons{
    margin-top: 35px;
}
.buttons button{padding: 9px 12px;
    margin: 03px;
    border-radius: 25px;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
color: honeydew;
cursor: pointer;}
.buttons button:hover{background-color:honeydew;
    color:dodgerblue;}
.aboutmore{font-size: 18px;
    font-family: sans-serif;
    margin-top: 12px;
}
.buttons button a{text-decoration:none}
.contactform{ font-family: sans-serif;
padding: 0 34px;
padding-top: 60px;
margin-left: 80px;}
.contactform h1{ font-family: 'Source Code Pro', monospace;
    
    padding-top: 0px;
    margin-bottom: 25px;
    margin-left: 0PX;
}
#emailHelp{    font-size: 11px;
    color: teal;
margin-left: 3px;}
.mb-3{    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.contactform form div input{    width: 60vw;
    padding: 3px;
    margin: 6px 0px;
    border-radius: 10px;
    font-size: 17px;}
    .form-check{flex-direction: row;}
    .form-check-input{
flex-direction: row;
        width: 17px;
        margin: 0px 0px;
    }
.blogcontainer h1{
    font-family: 'Lobster', cursive;
margin: 35px;
margin-left: 180px;}
    .blogitem{font-family:'Lobster', cursive ;}
.blogitem p{font-family: 'Open Sans Condensed', sans-serif;
font-size:17px;}
.buttonsmall{padding: 4px 0px;
    margin: 15px;
    border-radius: 30px;
    background-color: #ede2db;
    font-weight: bold;
    font-size: 12px;
    color: #53a153;
    cursor: pointer;
}
.buttonsmall:hover{
    background-color:honeydew;
    color:dodgerblue;
}
 h1{
    font-family: 'Lobster', cursive;
margin: 35px;
margin-left: 180px;
}
p{font-family: 'Source Code Pro', monospace;
margin: 14px 90px;}
h2{font-family: sans-serif;
margin:14px 15px;}
.skill{
width: 274px;
height: 10px;
background-color: rgb(40, 138, 53);
/*border:solid;*/
}
.skillcontainer{
    padding: 20px;
}
.skillitem{margin-left: 15px;
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
    padding:5px;
    font-size: 20px;
}
.c{
    background-color: gray;
    width:30vw;
}
.css{background-color:green;
      width: 35vw;}
.java{background-color: aqua;
width:5vw}
.html{background-color: aliceblue;
width:70vw}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px}
    .cross{margin-left: 93px;}
    .sidebargo{transform: translate(-185px, 0px);
               position: absolute}
               .mb-3 select{    width: 20vw;
                height: 30px;
                margin-top: 8px;
                border: solid;
            font-size: 17px;}
            .menubar {
                display: inline-block;
                cursor: pointer;
              }
              
              .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
              }
              
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }
              
              .change .bar2 {opacity: 0;}
              
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }
              .gallery{flex-direction:column ;
                  display: flex;
                  width: 90vw;
                  height: 250vh;
                  margin-top: 80px;
                  margin-left: 10px;
              }
            .gallery1{display: flex;
            width: 80vw;
        height:20vh;
    margin-bottom: 18px;}
        .gallery2{display:flex ;
            width: 80vw;
        height:20vh;
        margin-top: 23px;
    margin-bottom: 19px;}
        .gallery3{display:flex ;
            width: 80vw;
        height:20vh;
        margin-top: 23px;
    margin-bottom:18px }
        .gallery4{display: flex;
            margin-top: 23px;
            width: 80vw;
        height:20vh;
    margin-bottom: 19px;}
    .gallerybutton{
        margin-top: -36px;
        border-radius:60px;
        align-self: center;
        margin-left: 305px;
    margin-right: -560px;

    }
    .gallerybutton button:hover{background-color:white;
        color: blue;
    }
    .button1{color: aqua;
        margin-left: 65px;
        

    }
    .button2{color: aqua;
        margin-left: 160px;
    }
    .button3{color: aqua;
        margin-left: 160px;
    }
    .button4{color: aqua;
        margin-left: 160px;
        }
    .gallerybutton button{
        border-radius: 20px;
        width: 55px;
        background-color: blue;
        color: white;
    }


            
    




